<div class="component-popup">
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu icon button">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Gradlife</span>
  </mat-toolbar>

  <div class="content">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Event name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Location (URL or physical address)</mat-label>
        <input matInput [(ngModel)]="location">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Starts on</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
<!--   
  <p>You can easily send messages from the popup to the content page with the provided Tab ID!
    (tabId=<strong>{{ tabId }}</strong>)</p>
  
  <button mat-button (click)="onClick()">Click me to test</button>
  
  <p><strong>{{ message }}</strong></p>   -->
</div>