<div class="component-popup">
  <mat-toolbar color="primary">
    <span>Gradlife</span>
  </mat-toolbar>

  <div class="content">
    <form [formGroup]="eventForm">
      <mat-form-field appearance="fill">
        <mat-label>Event name</mat-label>
        <input matInput formControlName="name" required minlength="4" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Starts on</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Start time</mat-label>
        <input matInput formControlName="time" type="time">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Location (URL or physical address)</mat-label>
        <input matInput formControlName="location" type="text" required minlength="4">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput rows="4"></textarea>
      </mat-form-field>

      <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="click()"
        [disabled]="!eventForm.valid">SUBMIT</button>
      <button mat-flat-button (click)="getHelp()">Email us</button>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </form>
  </div>
</div>