.component-popup {
    width: 400px;
    height: 1000px;

    .content {
        padding: 1rem;
    }

    form {
        margin: 1rem 0;
        width: 100%;

        input, mat-form-field { 
            width: 100%
        }
    }

    .mat-small {
        margin-top: 1rem;
    }
}